$primaryRed: hsl(14, 86%, 42%);
$primaryGreen: hsl(159, 69%, 38%);
$primaryRose-50: hsl(20, 50%, 98%);
$primaryRose-100: hsl(13, 31%, 94%);
$primaryRose-300: hsl(14, 25%, 72%);
$primaryRose-400: hsl(7, 20%, 60%);
$primaryRose-500: hsl(12, 20%, 44%);
$primaryRose-900: hsl(14, 65%, 9%);
